# binaries
pomo-cli

# OSX files
.DS_Store

# Subversion files
.svn

# VIM files
*~
.*.swp

# secrets not to be version controlled
secrets.sh

# Fabric files
home/.config/fabric/

# Grammarly files
home/.config/grammarly-languageserver/
