# binaries
pomo-cli

# OSX files
.DS_Store

# Subversion files
.svn

# VIM files
*~
.*.swp

# secrets not to be version controlled
secrets.sh

# X-Config files
home/.config/fabric
home/.config/grammarly-languageserver
home/.config/raycast
home/.config/song-of-the-day/config.env
home/.config/gitx/github.yml
