# binaries
pomo-cli

# OSX files
.DS_Store

# Subversion files
.svn

# VIM files
*~
.*.swp

# secrets not to be version controlled
secrets.sh

# X-Config files
home/.config/fabric
home/.config/grammarly-languageserver
home/.config/raycast
home/.config/song-of-the-day/config.env
home/.config/gitx/github.yml

# Claude files
*.jsonl
home/.claude/settings.json
home/.claude/ide
home/.claude/plugins
home/.claude/projects
home/.claude/shell-snapshots
home/.claude/todos
home/.claude/statsig
home/.claude/debug
home/.claude/file-history
home/.claude/backups
home/.claude/cache
home/.claude/hooks
home/.claude/mcp-needs-auth-cache.json
home/.claude/paste-cache
home/.claude/plans
home/.claude/skills
home/.claude/stats-cache.json
home/.claude/tasks
home/.config/cagent
