[user]
	name = Ryan Sonnek
  email = ryan.sonnek@gmail.com
[alias]
	put = push origin HEAD
	done = commit -a -m
	co = checkout
	undo = reset --hard
	l =  log --pretty=oneline --relative-date
  ll = log --summary --stat --pretty=oneline --relative-date
  who = shortlog -n -s --no-merges
[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
[core]
	editor = mvim -f
[merge]
	tool = opendiff
[branch]
	autosetupmerge = always
[mergetool]
	keepBackup = false
