<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0ABE1EAE-7424-4E9A-B284-36CA958DE0D7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Stackoverflow for '{query}'</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3BA46C61-6EF2-4EFE-883A-C1258F971B69</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>localhost</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>localhost</string>
			<key>url</key>
			<string>http://localhost:3000</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>50C67BAE-9B0E-40C3-A77F-AD35AF0FF535</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Open Github</string>
			<key>url</key>
			<string>https://www.github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BAFFA631-61EB-465D-9EB1-D657357C87BD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rubygems</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search rubygems for '{query}'</string>
			<key>url</key>
			<string>https://rubygems.org/search?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BE74BF94-B500-4AF0-BD8C-1B035EA53DEA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>weather</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>weather for home</string>
			<key>url</key>
			<string>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=55427</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CC77F789-0089-4F0A-8447-9D2422A71D6D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search github for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
