<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.peterschmalfeldt.ChromeHistory</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>503A0CE7-156B-411E-A90F-11A54BE8EFCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85F68C16-7F2D-46FB-8A27-539360EA3118</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85F68C16-7F2D-46FB-8A27-539360EA3118</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2B8B2DD-642A-4661-871C-4819C082256F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Peter Schmalfeldt</string>
	<key>description</key>
	<string>Open Recent Google Chrome Webpages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome History v1.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>503A0CE7-156B-411E-A90F-11A54BE8EFCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>history</string>
				<key>runningsubtext</key>
				<string>Fetching History ...</string>
				<key>script</key>
				<string>php -f chrome.php -- '{query}';</string>
				<key>subtext</key>
				<string>Fetching Google Chrome History ...</string>
				<key>title</key>
				<string>Google Chrome History</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85F68C16-7F2D-46FB-8A27-539360EA3118</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A2B8B2DD-642A-4661-871C-4819C082256F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open Recent Google Chrome Webpages - Version 1.0

Written by Peter Schmalfeldt ( http://twitter.com/mrmidi )

Introduction:
-------------

This Workflow will use PHP to make a cached copy of Google Chromes SQLite History file. Then you can easily search through your history by keyword.

Example Usage:
--------------

* ch 

This will return all your browsers history with the latest at the top.

* ch alfred

This will return all pages in your history that have the word alfred in the URL or Page Title.</string>
	<key>uidata</key>
	<dict>
		<key>503A0CE7-156B-411E-A90F-11A54BE8EFCE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>85F68C16-7F2D-46FB-8A27-539360EA3118</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A2B8B2DD-642A-4661-871C-4819C082256F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://peterschmalfeldt.com</string>
</dict>
</plist>
