<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>incog420</string>
	<key>connections</key>
	<dict>
		<key>AB6F0D3F-8A8E-4656-A680-6D3781251DD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11A0E2A2-2171-4A8B-AF0B-2DC112FEE253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B72CA0CE-3608-4C1E-B7D8-A44A279CB276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11A0E2A2-2171-4A8B-AF0B-2DC112FEE253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nedwood</string>
	<key>description</key>
	<string>Opens a Google Chrome Incognito Window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Incognito Window</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if application "Google Chrome" is running then
	tell application "Google Chrome" to make new window with properties {mode:"incognito"}
else
	do shell script "open -a /Applications/Google\\ Chrome.app --args --incognito"
end if

tell application "Google Chrome" to activate</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11A0E2A2-2171-4A8B-AF0B-2DC112FEE253</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB6F0D3F-8A8E-4656-A680-6D3781251DD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>incog</string>
				<key>subtext</key>
				<string>Keyword: incog</string>
				<key>text</key>
				<string>Open an Incognito Window in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B72CA0CE-3608-4C1E-B7D8-A44A279CB276</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Open an Incognito window in Chrome using shortcut “Command-Option-I” or keyword “incog”.

Credits to http://stackoverflow.com/questions/16064957/how-to-check-in-applescript-if-an-app-is-running-without-launching-it-via-osa and http://www.addictivetips.com/mac-os/force-google-chrome-to-open-in-incognito-mode-using-applescript/</string>
	<key>uidata</key>
	<dict>
		<key>11A0E2A2-2171-4A8B-AF0B-2DC112FEE253</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AB6F0D3F-8A8E-4656-A680-6D3781251DD7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B72CA0CE-3608-4C1E-B7D8-A44A279CB276</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://gist.github.com/zdne/7443950</string>
</dict>
</plist>
